#!/bin/bash

# To run this : $ ./source env.sh

# Define environment variables
export TF_VAR_region=     # Your AWS Region
export TF_VAR_access_key= # Your AWS Access Key
export TF_VAR_secret_key= # Your AWS Secret Access Key

